.main_xian,.main_xian_one,.main_xian_two{
    display:none;
}
.qujian{
    display:none;
}
.add_project{
    margin-left:45%;
}
.add_new{
    height: 26px;
}
.date_jiaofei{
    position: relative;
    right: 50px;
}
.baifei{
    position: relative;
    right: 50px;
}
.shebao{
    position: relative;
    left: 120px;
    bottom: 26px;
}
.add{margin-left: 100px;}
.add_tiaokuan{
    margin-left: 45%;
}
.add_zhuxian{
    display: none;
}
.SexDate,.diffSexFixDate,.differentSexDate{
    display:none;
}
.sex{
    font-size: 14px;
    font-weight: bold;
}
.qujianAge{
    display: none;
}
