.main_xian,.main_xian_one,.main_xian_two{
    display:none;
}
.add_project{
    margin-left:45%;
}
.date_jiaofei{
    position: relative;
    right: 50px;
}
.baifei{
    position: relative;
    right: 50px;
}
.shebao{
    position: relative;
    left: 120px;
    bottom: 26px;
}
.add{margin-left: 100px;}
.add_tiaokuan{
    margin-left: 45%;
}
.sex{
    font-size: 14px;
    font-weight: bold;
}
.add{
    margin-left: 800px;
}
.WrapperDisease{width: 600px;
    margin-left: 160px;}

